#python virtual environment
piano_buddy_venv/
__pycache__/

# Executables and binaries in the bin folder
/bin/

# Object files generated during compilation
src/*.o

# Local configuration file containing secrets
config.h

# VS Code specific files
.vscode/

# Any sound files
*.wav
*.mp3
downloaded_song.*
separated_output/

# HTML dumps for debugging
*.html
